html(ng-app='myApp')
  head
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
    style.
      table, th , td  {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      }
      #ftone {
      background-color: rgba(255, 0, 0, 0.6);
      }
      #fttwo {
      background-color: rgba(0, 153, 0, 0.6);
      }
      #ftthree {
      background-color: rgba(0, 0, 255, 0.6);
      }
      #ftfour {
      background-color: rgba(255, 255, 0, 0.6);
      }
      #ftfive {
      background-color: rgba(102, 0, 204, 0.4);
      }
      #ftsix {
      background-color: rgba(255, 153, 204, 0.6);
      }
      #ftseven {
      background-color: rgba(255, 0, 127, 0.4);
      }
      #fteight {
      background-color: rgba(128, 128, 128, 0.4);
      }
      #ftnine {
      background-color: rgba(255, 178, 102, 0.6);
      }
      #ftten {
      background-color: rgba(255, 255, 255, 0.4);
      }
      #sup {
      font-size: 70%;
      position: relative;
      left: 80%;
      }
      /*table tr:nth-child(odd) {
      background-color: #f1f1f1;
      }
      table tr:nth-child(even) {
      background-color: #ffffff;
      }*/
    title Flow tags data
  body
    .container(ng-controller='AppCtrl')
      h1 Flow tags data: 
      table.table
        thead
          tr
            th Index
            th FT
            th Location
            th Time of Arrival
            th Time Spent (mins)
        tbody
          tr#ftone(ng-repeat='ft1 in myFlowtagone')
            td {{$index + 1}}
            td {{ft1.name}}
            td {{ft1.location}}
            td {{ft1.createdAt}}
            td {{ft1.timeSpent}}
          tr#fttwo(ng-repeat='ft2 in myFlowtagtwo')
            td {{$index + 1}}
            td {{ft2.name}}
            td {{ft2.location}}
            td {{ft2.createdAt}}
            td {{ft2.timeSpent}}
          tr#ftthree(ng-repeat='ft3 in myFlowtagthree')
            td {{$index + 1}}
            td {{ft3.name}}
            td {{ft3.location}}
            td {{ft3.createdAt}}
            td {{ft3.timeSpent}}
          tr#ftfour(ng-repeat='ft4 in myFlowtagfour')
            td {{$index + 1}}
            td {{ft4.name}}
            td {{ft4.location}}
            td {{ft4.createdAt}}
            td {{ft4.timeSpent}}
          tr#ftfive(ng-repeat='ft5 in myFlowtagfive')
            td {{$index + 1}}
            td {{ft5.name}}
            td {{ft5.location}}
            td {{ft5.createdAt}}
            td {{ft5.timeSpent}}
          tr#ftsix(ng-repeat='ft6 in myFlowtagsix')
            td {{$index + 1}}
            td {{ft6.name}}
            td {{ft6.location}}
            td {{ft6.createdAt}}
            td {{ft6.timeSpent}}
          tr#ftseven(ng-repeat='ft7 in myFlowtagseven')
            td {{$index + 1}}
            td {{ft7.name}}
            td {{ft7.location}}
            td {{ft7.createdAt}}
            td {{ft7.timeSpent}}
          tr#fteight(ng-repeat='ft8 in myFlowtageight')
            td {{$index + 1}}
            td {{ft8.name}}
            td {{ft8.location}}
            td {{ft8.createdAt}}
            td {{ft8.timeSpent}}
          tr#ftnine(ng-repeat='ft9 in myFlowtagnine')
            td {{$index + 1}}
            td {{ft9.name}}
            td {{ft9.location}}
            td {{ft9.createdAt}}
            td {{ft9.timeSpent}}
          tr#ftten(ng-repeat='ft10 in myFlowtagten')
            td {{$index + 1}}
            td {{ft10.name}}
            td {{ft10.location}}
            td {{ft10.createdAt}}
            td {{ft10.timeSpent}}
      hr
      div
        h3 Return to visualization page 
        button(onclick="window.location.href='/viz'") Home
      hr
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js')
    script(src='controllers/controller.js')
