html(ng-app='myApp')
  head
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
    title Flow tags location data: 
  body
    .container(ng-controller='AppCtrl')
      h1 Flow tags location data: 
      table.table
        thead
          tr
            th FT
            th Location
            th Time
            th Component
        tbody
          tr(ng-repeat='contact in contactlist')
            td FT1
            td Okuma 450
            td 2011-12-03+01:00
            td gear
          tr(ng-repeat='contact in contactlist')
            td FT2
            td Okuma 455
            td 2011-12-03+01:30
            td gear
          tr(ng-repeat='contact in contactlist')
            td FT3
            td Okuma Lisä
            td 2011-12-03+01:35
            td gear
      hr
      div
        h3 Return to visualization page 
        button(onclick="window.location.href='/viz'") Home
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js')
    script(src='controllers/controller.js')